*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.hero p {
  margin-bottom: 0;
}

ul {
  list-style: none;
}

.App {
  color: white;
  background-color: #121212;
  min-height: 100vh;
}

.start {
  color: #f31caa;
}

.start:hover {
  text-decoration: none;
  color: #ad3eff;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.footer {
  color: gray;
}

.request p {
  margin-bottom: 0;
  padding-right: 50px;
}

.title {
  font-size: 70px;
  font-weight: 700;
}

.container-img {
  width: 80%;
}

img {
  max-width: 100%;
}

.search {
  background-color: #121212;
  color: gray;
  border-radius: 999px;
  border-color: 1px solid gray;
  padding: 7px 30px;
  position: relative;
}

.icon-bar {
  position: absolute;
  border: none;
  background-color: transparent;
  color: gray;
  margin-left: 210px;
}

.rounded-pers {
  border-radius: 22px;
  height: 400px;
}

.request {
  color: rgb(179, 179, 179);
}

.card-w {
  width: 32%;
  height: 300px;
  margin: 20px 7px;
  position: relative;
}

.likes {
  margin-bottom: 0;
}

.card-w img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.overlay {
  background-color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  top: 80%;
  color: black;
  opacity: 0;
  visibility: hidden;
  transition: all 125ms linear;
  transform: rotateX(-80deg);
  height: 0px;
}

.card-w:hover .overlay {
  opacity: 0;
  transition: all 125ms linear;
  transform: rotateX(-90deg);
  opacity: 1;
  visibility: visible;
  transform: rotateX(0deg);
  height: 20%;
}

.add {
  background-color: transparent;
  border: none;
}

.cart-title {
  font-size: 70px;
  font-weight: 700;
}

.cart-collect {
  min-height: 500px;
}

.cart-pay {
  min-height: 500px;
  border: 1px solid white;
  border-radius: 7px;
}

.img-cart {
  border-radius: 7px;
}

.container-buy p {
  margin-bottom: 0;
}

.remove-item {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #f31caa;
  align-self: flex-start;
}

.category {
  color: #f31caa;
}

.remove-all {
  background-color: transparent;
  border: none;
  margin: 0;
}

.cart-pay input {
  background-color: #121212;
  color: gray;
  border-radius: 999px;
  border-color: 1px solid gray;
  padding: 7px 10px;
}

.payment button {
  background-color: #f31caa;
  border-radius: 999px;
  border: none;
  padding: 10px 20px;
  color: white;
}

.payment p {
  font-weight: 700;
}

.payment button:hover {
  text-decoration: none;
  background-color: #ad3eff;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.remove-item:hover, .category:hover {
  text-decoration: none;
  color: #ad3eff;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.img-cart-2 {
  font-size: 30px;
  color: black;
  background-color: white;
  padding: 10px;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-cart-3 {
  font-size: 22px;
  color: white;
  background-color: #f31caa;
  padding: 10px;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-cart-2:hover {
  background-color: #ad3eff;
  transition: all 200ms ease-in-out;
}

.img-cart-3:hover {
  background-color: #ad3eff;
  transition: all 200ms ease-in-out;
}

@media all and (max-width: 767px) {
  .card-w {
    width: 90%;
    height: 300px;
    margin: 20px 7px;
    position: relative;
  }

  .cont-pay {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;
  }

}